@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 span {
  @apply bg-[#fff] leading-[.9] rounded-md relative 
}

.text {
  display: inline-block;
  background: radial-gradient(#ffffff5e 10%, transparent 100%);
  max-width: 76%;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem; 
    max-width: unset;
  }
}

@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-scale {
  animation: fadeScale 400ms ease-out;
  will-change: transform, opacity;
}

.skew {
  transform: skewY(-5deg);
}

.bg-gradient {
  @apply bg-white/80 shadow-[0_0_20px_9px_white]
}